<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<h3>Timestamp Microservice</h3>
		<hr>
		<h4>Example Usage:</h4>
		<ul>
			<li><a href="/api/2019-08-29">[project url]/api/2019-08-29</a></li>
			<li><a href="/api/1567036800000">[project url]/api/1567036800000</a></li>
		</ul>
		<h4>Example Output:</h4>
		<code>{"unix": 1567036800000, "utc": "Thu, 29 Aug 2019 00:00:00 GMT"}</code>
		<h5>by @SkaneDNikola</h5>
	</body>

</html>
