/* the 'body' selector is required for the tests to pass */
/* You can change the style attributes if you want */
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

input[type=text], label {
  margin-bottom: 8px;
}

a {
  color : white;
}

li {
  padding: 0.5rem;
  list-style-type: none;
}

code {
  color: black;
  background-color: white;
  padding: 0.25rem;
}